@page "/add-food"
@using RMS.Client.Client
@using RMS.Client.Pages.GridComponent
@using RMS.Client.Shared.Popup
@inject AppClient client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using Havit.Blazor.Components.Web
@using Havit.Blazor.Components.Web.Bootstrap
@using System.ComponentModel.DataAnnotations;
@attribute [Authorize]

<div class="page-header breadcumb-sticky">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">
                        Add Food
                        <a @onclick="OnAdd" style="cursor:pointer"><i class="fa fa-plus-circle fa-lg text-primary" aria-hidden="true" title="Add Food"></i></a>
                    </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a>Add Food</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 p-0">
        <div class="card-body p-2 mt-n3">
            <FoodGrid />
        </div>
    </div>
</div>

<PageDialog Title="@Title" Show="@show" ClosePageDialog="ResetForm">
    @if (show)
    {

        <EditForm Model="model" OnValidSubmit="OnSave">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-form-label bold-font required-field">Food Name</label>
                    <InputText @bind-Value="@model.FoodName" id="RoomNumber" class="form-control"></InputText>
                    <ValidationMessage For="() => model.FoodName" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label bold-font">Price</label>
                    <InputNumber @bind-Value="@model.Price" id="Price" class="form-control"></InputNumber>
                    <ValidationMessage For="() => model.Price" />
                </div>
            </div>
            @* <div class="col-md-6">
                <label class="col-form-label bold-font">Select Facilities</label>
                <HxMultiSelect TItem="FoodCategory"
                               AutoSort="false"
                               TValue="int"
                               Data="@Category"
                               @bind-Value="@foodcategoryid"
                               TextSelector="@(p => p.Name)"
                               ValueSelector="@(p => p.Id)"
                               EmptyText="- Select -"
                               NullDataText="Loading..." />
                @if (SelectedFacilities.Count() == 0 && IsError)
                {
                    <span style="color:red">Please select at least one Facility</span>
                }
            </div> *@
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-form-label bold-font">Select Menu Type</label>
                    <HxMultiSelect TItem="MenuType"
                              AutoSort="false"
                              TValue="int"
                              Data="@menuTypes"
                              @bind-Value="@selectedMenuTypeid"
                              TextSelector="@(p => p.Name)"
                              ValueSelector="@(p => p.Id)"
                              Nullable="true"
                              NullText="-select-"
                              NullDataText="Loading menuType..." />

                </div>

                <div class="col-md-6">
                    <label class="col-form-label bold-font">Select Food Category</label>
                    <HxSelect TItem="FoodCategory"
                              TValue="int?"
                              Data="Category"
                              @bind-Value="foodcategoryid"
                              TextSelector="@(FoodCategory => FoodCategory.Name)"
                              ValueSelector="@(FoodCategory => FoodCategory.Id)"
                              Nullable="true"
                              NullText="-select-"
                              NullDataText="Loading categories..." />
                    <ValidationMessage For="() => model.FoodCategory" />
                </div>

                <div class="col-md-6">
                    <label class="col-form-label bold-font">Select Food Variants</label>
                    <HxSelect TItem="AddVariants"
                              TValue="int?"
                              Data="Variants"
                              @bind-Value="variantsid"
                              TextSelector="@(Variants => Variants.Name)"
                              ValueSelector="@(Variants => Variants.Id)"
                              Nullable="true"
                              NullText="-select-"
                              NullDataText="Loading Variants..." />
                    <ValidationMessage For="() => model.Variant" />
                </div>
                @* <div class="col-md-6">
                    <label class="col-form-label bold-font">Select Facilities</label>
                    <HxMultiSelect TItem="FoodCategory"
                                   AutoSort="false"
                                   TValue="int"
                                   Data="@Category"
                                   @bind-Value="@foodcategoryid"
                                   TextSelector="@(p => p.Name)"
                                   ValueSelector="@(p => p.Id)"
                                   EmptyText="- Select -"
                                   NullDataText="Loading..." />
                    @if (SelectedFacilities.Count() == 0 && IsError)
                    {
                        <span style="color:red">Please select at least one Facility</span>
                    }
                </div> *@
            </div>
 @*            <div class="form-group row">
                <div class="col-md-4">
                    <label class="col-form-label bold-font" style="padding-right: 0;">No. of Beds</label>
                    <InputNumber @bind-Value="@model.NumberOfBed" id="NumberOfBed" class="form-control"></InputNumber>
                    <ValidationMessage For="() => model.NumberOfBed" />
                </div>
                <div class="col-md-4">
                    <label class="col-form-label bold-font" style="padding-right: 0;">Capacity</label>
                    <InputText @bind-Value="@model.Capacity" id="Capacity" class="form-control"></InputText>
                    <ValidationMessage For="() => model.Capacity" />
                </div>
                <div class="col-md-4">
                    <label class="col-form-label bold-font" style="padding-right: 0;">Extra Capacity</label>
                    <InputCheckbox @bind-Value="model.ExtraCapacity" id="ExtraCapacity" class="form-check-input" style="margin-left: -100px;margin-top: 45px; font-size: x-large;margin-top: 42px;" />
                    <ValidationMessage For="() => model.ExtraCapacity" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="col-form-label bold-font" style="padding-right: 0;">Bed Charge</label>
                    <InputText @bind-Value="@model.BedCharge" id="BedCharge" class="form-control"></InputText>
                    <ValidationMessage For="() => model.BedCharge" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label bold-font" style="padding-right: 0;">Person Charge</label>
                    <InputText @bind-Value="@model.PersonCharge" id="PersonCharge" class="form-control"></InputText>
                    <ValidationMessage For="() => model.PersonCharge" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label class="col-form-label bold-font" style="padding-right: 0;">IsActive</label>
                    <InputCheckbox @bind-Value="model.IsActive" class="form-check-input" style="font-size: x-large;margin-top: 42px; margin-left: -56px;" />
                    <ValidationMessage For="() => model.IsActive" />
                </div>
                <div class="col-md-9">
                    <label class="col-form-label bold-font">Upload Image</label>
                    <InputFile OnChange="HandleFileSelected" class="form-control" />
                    <br />
                    <img id="imgPreview" src="@imageDataUrl" style="max-width: 200px; max-height: 200px; display: @(imageDataUrl == null ? "none" : "block");" />
                    <ValidationMessage For="() => model.ImageFile" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="col-form-label bold-font" style="padding-right: 0;">Descriptions</label>
                    <InputTextArea @bind-Value="@model.Descriptions" id="Descriptions" class="form-control"></InputTextArea>
                    <ValidationMessage For="() => model.Descriptions" />
                </div>
            </div> *@
            @if (process)
            {
                <div style="text-align:center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            }
            <UiAlert Model="alert"></UiAlert>
            <hr style="margin-bottom: 2px;" />
            <button type="submit" class="btn btn-primary float-right col-md-4">Add</button>
        </EditForm>
        <br />
    }
</PageDialog>

@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    protected AlertModel? alert { get; set; }

    
    private int? foodcategoryid;
    private int? variantsid;

    AddFood model = new();
    public string Title = "Add Food";
    bool show = false;
    bool process = false;
    private Timer _timer;
    private int _delay = 2500;

    [Required]
    private List<int> selectedMenuTypeid = new();
    private bool IsError = false;
    private List<MenuType> menuTypes = new();
    private List<FoodCategory> Category = new();
    private List<AddVariants> Variants = new();
    Dictionary<int, List<int>> FoodMenuTypeMap = new Dictionary<int, List<int>>();

    private string imageDataUrl;

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            var buffer = new byte[file.Size];
            await file.OpenReadStream().ReadAsync(buffer);

            // Store the image data in the model
            model.ImageFile = buffer;

            // Convert the image to a data URL for preview
            imageDataUrl = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        alert?.Clear();

        // Load room categories and facilities
        menuTypes = (await client.GetAllMenuType()).ToList();
        Category = (await client.GetAllFoodCategory()).ToList();
        Variants = (await client.GetAllAddVariants()).ToList();

        // If Id is provided, load room details and populate form
        // if (id > 0)
        // {
        //     model = await client.getfoodbyid(id);

        //     // convert existing image data to base64 string for preview
        //     if (model.imagefile != null && model.imagefile.length > 0)
        //     {
        //         imagedataurl = $"data:image/png;base64,{convert.tobase64string(model.imagefile)}";
        //     }

        //     var foodfacilitiesmap = await client.getfacilitiesmappingbyfoodid(model.id);
        //     selectedfacilities.addrange(foodfacilitiesmap.select(o => o.facilityid));
        // }
    }

    public async Task OnSave()
    {
        // if (SelectedFacilities.Count() == 0)
        // {
        //     IsError = true;
        //     return;
        // }
        // process = true;
        // alert?.Clear();

        // model.CategoryId = categoriesId;
        // if (categoriesId != null)
        //     model.Category = Categories.Where(x => x.Id == categoriesId).Select(x => x.Name).First();
        // // Ensure the model includes the selected facilities
        // var response = await client.UpsertRoomAsync(model);
        // if (response.IsSuccess)
        // {
        //     if (response.Result.Id > 0)
        //     {
        //         if (RoomFacilitiesMap.ContainsKey(model.Id))
        //         {
        //             RoomFacilitiesMap[model.Id] = SelectedFacilities.Select(id => id).ToList();
        //         }
        //         else
        //         {
        //             RoomFacilitiesMap.Add(model.Id, SelectedFacilities.Select(id => id).ToList());
        //         }

        //         var result = await client.UpsertRoomFacilitiesMapping(RoomFacilitiesMap);
        //     }
        //     await FoodGrid.RefreshGridAsync();
        //     alert?.SetSuccess(response.Message);
        //     model = new Food(); // Reset model after saving
        //     categoriesId = null;
        //     SelectedFacilities = new();
        //     imageDataUrl = string.Empty;
        // }
        // else
        // {
        //     alert?.SetError(response.Message);
        // }

        process = false;
        StateHasChanged();
        _timer = new Timer(TimerCallback, null, _delay, Timeout.Infinite);
    }

    private void TimerCallback(Object o)
    {
        alert?.Clear();
        _timer.Dispose();
        StateHasChanged();
    }

    private void ResetForm()
    {
        model = new AddFood();
        show = false;
        process = false;
    }

    public void OnClose()
    {
        model = new AddFood();
        selectedMenuTypeid = null;
        foodcategoryid = null;
        variantsid = null;
    }

    public void OnAdd()
    {
        model = new AddFood();
        selectedMenuTypeid = null;
        foodcategoryid = null;
        variantsid = null;
        show = true;
    }
}

