@page "/new-booking"
@page "/new-booking/r/{roomNumber}"
@page "/new-booking/{Id:int}"
@using RMS.Client.Client
@using RMS.Client.Pages.GridComponent
@using RMS.Client.Shared.Popup
@using RMS.Dto
@using RMS.Dto.Enum
@using Havit.Blazor.Components.Web
@using Havit.Blazor.Components.Web.Bootstrap
@inject AppClient client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject PermissionService PermissionService
@attribute [Authorize]

<div class="page-header breadcumb-sticky">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">
                        @(Id > 0 ? "UpdateBooking" : "New Booking")
                    </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a>New Booking</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

  @if (canEdit || hasFullAccess)
{
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="p-2 mt-n3">
                <div class="text">
                    <div class="">
                        <EditForm Model="model" OnValidSubmit="OnSave">
                            <DataAnnotationsValidator />
                            @* <ValidationSummary/> *@
                            <div id="reservation">
                                <div class="card mb-4">
                                    <div class="card-header py-2 ">
                                        <h6 class="fs-17 font-weight-600 mb-0">
                                            Reservation Details <span id="msg" class="red-message"></span>
                                            <small class="float-end">
                                                <a href="booking-list" id="view_checin" class="btn btn-primary btn-sm">
                                                    Booking List
                                                </a>
                                            </small>
                                        </h6>
                                    </div>
                                    <hr class="m-0" />
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Check In <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                                        <input type="date" @bind="model.CheckIn" name="datefilter" class="form-control datefilter" id="datefilter1" placeholder="mm/dd/yyyy --:-- --">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Check Out <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                                        <input type="date" @bind="model.CheckOut" name="datefilter" class="form-control datefilter" id="datefilter2" placeholder="mm/dd/yyyy --:-- --">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Arrival From</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-plane-arrival"></i></span>
                                                        <input type="text" @bind="model.ArrivalFrom" class="form-control" id="arrival_from" placeholder="Arrival From">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Booking Type</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-hotel"></i></span>
                                                        <select class="form-select" @bind="model.BookingType" data-live-search="true" data-width="100%" id="booking_type">
                                                            <option selected>Choose Reference Type</option>
                                                            @foreach (var val in Enum.GetValues(typeof(BookingReferenceType)))
                                                            {
                                                                <option value="@val">@val</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Booking Reference No</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-sort-numeric-up-alt"></i></span>
                                                        <input type="text" @bind="model.BookingReferenceNo" class="form-control" id="bsorurce_no" placeholder="Booking Reference No.">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Purpose of Visit</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-eye"></i></span>
                                                        <input type="text" @bind="model.PurposeOfVisit" class="form-control" id="pof_visit" placeholder="Purpose of Visit">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                                <div class="form-group mb-0">
                                                    <label class="form-label font-weight-600 mb-1">Remarks</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fas fa-comment-dots"></i></span>
                                                        <input type="text" @bind="model.Remarks" class="form-control" id="booking_remarks" placeholder="Remarks">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="fs-17 font-weight-600 mb-0">Room Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered white-space-nowrap mb-0 room-list">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Room Info</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var roombook in roomBookings)
                                                    {
                                                        <tr>
                                                            <td colspan="2">
                                                                <table class="table table-borderless mb-0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="border-0" style="width:35%">
                                                                                <div class="form-group mb-0">
                                                                                    <label class="font-weight-600 mb-1">Room Type<span class="text-danger">*</span></label>
                                                                                     <select class="form-select" @bind-value="roombook.RoomType" @onchange="RoomTypeOnChange" @bind-value:event="oninput">
                                                                                        <option selected>Choose Room Type</option>
                                                                                        @foreach (var val in roomCategories)
                                                                                        {
                                                                                            <option value="@val.Name">@val.Name</option>
                                                                                        }
                                                                                    </select>
                                                                                </div>
                                                                            </td>
                                                                            <td class="border-0" style="width:25%">
                                                                                <div class="form-group mb-0">
                                                                                    <label class="font-weight-600 mb-1">Room No.<span class="text-danger">*</span></label>
                                                                                    <InputSelect class="form-select" @bind-Value="roombook.RoomNo">
                                                                                        <option selected>Choose Room </option>
                                                                                        @foreach (var room in rooms.Where(x => x.Status == RoomHallStatus.Available || x.RoomNumber == roombook.RoomNo))
                                                                                        {
                                                                                            //@if (room.RoomNumber != roombook.RoomNo)
                                                                                            {
                                                                                                <option value="@room.RoomNumber">@room.RoomNumber</option>

                                                                                            }
                                                                                        }
                                                                                    </InputSelect>
                                                                                </div>
                                                                            </td>
                                                                            <td class="border-0" style="width:20%">
                                                                                <div class="form-group mb-0">
                                                                                    <label class="font-weight-600 mb-1">#Adults</label>
                                                                                    <input type="number" min="1" class="form-control" @bind="roombook.Adults" placeholder="Adults" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="border-0" style="width:20%">
                                                                                <div class="form-group mb-0">
                                                                                    <label class="font-weight-600 mb-1">#Children</label>
                                                                                    <input type="number" min="0" class="form-control" @bind="roombook.Children" placeholder="Children" />
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td class="text-center">
                                                                <button type="button" @onclick="() => DeleteRoom(roombook)" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            <button type="button" @onclick="AddRoom" class="btn btn-primary mt-2">Add Room</button>
                                        </div>

                                        <div class="card-body mt-4" style="border:1px solid">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-primary dropdown-toggle no-caret" type="button" id="custdetailbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal">New Customer</a>
                                                        <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal2">Old Customer</a>
                                                    </div>
                                                </div>
                                                <span>Customer Info</span>
                                            </div>
                                            <div class="table-responsive mt-3">
                                                <table class="table table-bordered customerdetail w-100">
                                                    <thead>
                                                        <tr style="text-align: center;">
                                                            <th>SL</th>
                                                            <th>Name</th>
                                                            <th>Mobile No.</th>
                                                            <th>Email</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var customer in existingCustomers)
                                                        {
                                                            <tr>
                                                                <td>@(++CustomerCount)</td>
                                                                <td>@customer.FirstName</td>
                                                                <td>@customer.MobileNo</td>
                                                                <td>@customer.Email</td>
                                                                <td>
                                                                    <button type="button" @onclick="() => RemoveExistingCustomer(customer)" class="btn btn-danger btn-sm">Remove</button>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                                <div class="row">
                                    <!-- Payments Details Card -->
                                    <div class="col-lg-6 mb-3 mb-lg-0 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header py-3">
                                                <h6 class="fs-17 font-weight-600 mb-0">
                                                    Payments Details <span id="msg2" class="red-message"></span>
                                                </h6>
                                            </div>
                                            <hr class="m-0" />
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <div class="form-group mb-0">
                                                            <label class="font-weight-600 mb-1">Discount Reason</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                                                <input type="text" class="form-control" @bind="model.PaymentDetails.DiscountReason" placeholder="Discount Reason">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="form-group mb-0">
                                                            <label class="font-weight-600 mb-1">Discount (Max-100%)</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i class="fas fa-tags"></i></span>
                                                                <input type="number" class="form-control" @bind="model.PaymentDetails.DiscountRate" placeholder="Discount (Max-100%)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="form-group mb-0">
                                                            <label class="font-weight-600 mb-1">Discount Amount</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">$</span>
                                                                <input type="number" class="form-control" @bind="model.PaymentDetails.DiscountAmount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="form-group mb-0">
                                                            <label class="font-weight-600 mb-1">Commission (%)</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text"><i class="fas fa-percent"></i></span>
                                                                <input type="number" class="form-control" @bind="model.PaymentDetails.CommissionRate" placeholder="Commission rate">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="form-group mb-0">
                                                            <label class="font-weight-600 mb-1">Commission Amount</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">$</span>
                                                                <input type="number" class="form-control" @bind="model.PaymentDetails.CommissionAmount" placeholder="Commission amount">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Billing Details Card -->
                                    <div class="col-lg-6 d-flex">
                                        <div class="card flex-fill w-100">
                                            <div class="card-header py-3">
                                                <h6 class="fs-17 font-weight-600 mb-0">Billing Details</h6>
                                            </div>
                                            <hr class="m-0" />
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label class="font-weight-600 mb-0">Booking Charge</label>
                                                        <input type="number" class="form-control" value="@model.BillingDetails.BookingCharge" @onchange="OnBookingChargeChanged" placeholder="Booking Charge">
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label class="font-weight-600 mb-0">Tax</label>
                                                        <input type="number" class="form-control" value="@model.BillingDetails.Tax" @onchange="OnTaxChanged" placeholder="Tax">
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label class="font-weight-600 mb-0">Service Charge</label>
                                                        <input type="number" class="form-control" value="@model.BillingDetails.ServiceCharge" @onchange="OnServiceChargeChanged" placeholder="Service Charge">
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label class="font-weight-600 mb-0"><b>Total</b></label>
                                                        <input type="number" class="form-control" value="@model.BillingDetails.TotalCharge" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right mt-3">
                                    <button type="submit" class="btn btn-primary w-100p" id="bookingsave">Save</button>
                                </div>

                                <!-- Occupant Details Modal -->
                                <div class="modal custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <NewCustomerPage OnCloseCustomer="SyncCustoomerDertails" />
                                    </div>
                                </div>
                                <!-- Modal for Existing Customer -->
                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header px-4">
                                                <h5 class="modal-title" id="exampleModalLabel">Old Customer</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body p-4">
                                                <div class="form-floating with-icon mb-3">
                                                    <label>Mobile No</label>
                                                    <div>
                                                        <HxSelect TItem="CustomerDetailsDTO"
                                                                  TValue="int?"
                                                                  Data="customers"
                                                                  Value="@selectedCustomerId"
                                                                  ValueChanged="OnCustomerChanged"
                                                                  ValueExpression="() => selectedCustomerId"
                                                                  TextSelector="@(c => c.MobileNo)"
                                                                  ValueSelector="@(c => c.Id)"
                                                                  Nullable="true"
                                                                  NullText="-select mobile number- "
                                                                  NullDataText="Loading categories..." />
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-12 mb-3 p-0">
                                                    <div class="form-group mb-0 p-0">
                                                        <label class="form-label font-weight-600 mb-1">Customer Name</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                            <input type="text" class="form-control" @bind="selectedCustomerName" placeholder="Customer Name" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer py-2 px-4">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" @onclick="AddOldCustomer" class="btn btn-primary" disabled="@(!canAddCustomer)">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <SimpleDailog Title="@message" Show="@show" OnCloseDialog="ResetForm">
        @if (show)
        {
            @if (TaskCompleted)
            {
                <div style="text-align:center;">
                    @MessageBody
                </div>
            }
            else
            {
                <div style="text-align:center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            }
        }
    </SimpleDailog>
}
else
{
    <div class="alert alert-danger">You do not have permission to view this page.</div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string roomNumber { get; set; } = string.Empty;
    public int CustomerCount = 0;

    [CascadingParameter]
    protected AlertModel? alert { get; set; }

    private bool canView = false;
    private bool canEdit = false;
    private bool hasFullAccess = false;

    private ReservationDetailsDto model = new ReservationDetailsDto
        {
            PaymentDetails = new PaymentDetailsDto(),
            BillingDetails = new BillingDetailsDto(),
            CustomerInfo = new List<CustomerInfoDto>(),
            RoomBookings = new List<RoomBookingDto>()
        };

    IEnumerable<Room> rooms = new List<Room>();
    IEnumerable<RoomCategories> roomCategories = new List<RoomCategories>();
    List<CustomerDetailsDTO> customers = new List<CustomerDetailsDTO>();
    private List<CustomerDetailsDTO> existingCustomers = new List<CustomerDetailsDTO>();
    public string Title = "Please wait..";
    bool show = false;
    bool process = false;
    private Timer _timer;
    private int _delay = 2500;
    string MessageBody = "Thank you!";
    string message = string.Empty;
    bool TaskCompleted = false;
    bool IsError = false;
    bool IsSuccess = false;

    private int? selectedCustomerId;
    private string selectedCustomerName;
    private string selectedCustomerIdString;
    private string mobileNumber;
    private bool canAddCustomer = false;

    protected override async Task OnInitializedAsync()
    {
        alert?.Clear();
        // Check permissions
        var permissions = await PermissionService.HasPermission("NewBooking");
        if (permissions != null)
        {
            canView = permissions.CanView;
            canEdit = permissions.CanEdit;
            hasFullAccess = permissions.HasFullAccess;
        }
        if (!canView)
        {
            // Redirect or handle unauthorized access
            NavigationManager.NavigateTo("/unauthorized");
            return;
        }
        if(Id == 0 && string.IsNullOrEmpty(roomNumber))
            AddRoom();

        rooms = await client.GetAllRoom();
        roomCategories = await client.GetAllRoomCategory();
        customers = (await client.GetAllCustomer()).ToList();
        if (Id > 0)
        {
            model = await client.GetReservationDetailsDtoById(Id);

            foreach (var c in model.CustomerInfo)
            {
                existingCustomers.Add(new CustomerDetailsDTO
                    {
                        FirstName = c.Name,
                        MobileNo = c.MobileNo,
                        Email = c.Email
                    });
            }

            roomBookings = model.RoomBookings.Select(rb => new RoomBooking
                {
                    RoomType = rb.RoomType.ToString(),
                    RoomNo = rb.RoomNo,
                    Adults = rb.Adults,
                    Children = rb.Children
                }).ToList();
        }
        if (!string.IsNullOrEmpty(roomNumber))
        {
            var selectedRoom = rooms.Where(x => x.RoomNumber == roomNumber).FirstOrDefault();
            if(selectedRoom != null)
            {
                roomBookings.Add(new RoomBooking
                {
                        RoomType = selectedRoom.Category,
                        RoomNo = selectedRoom.RoomNumber,
                        Adults = 0,
                        Children = 0
                });

               
            }
        }
    }

    private async Task SyncCustoomerDertails(CustomerDetailsDTO customerDetailsDTO)
    {
        model.CustomerInfo.Add(new CustomerInfoDto
            {
                SL = model.CustomerInfo.Count + 1,
                Name = customerDetailsDTO.FirstName,
                MobileNo = customerDetailsDTO.MobileNo,
                Email = customerDetailsDTO.Email
            });
        existingCustomers.Add(customerDetailsDTO);

        customers = (await client.GetAllCustomer()).ToList();
        // Trigger UI update
        StateHasChanged();
    }

    public async Task OnSave()
    {
        process = true;
        alert?.Clear();
        message = string.Empty;
        MessageBody = "Thank you!";
        IsError = false;
        IsSuccess = false;
        show = true;
        TaskCompleted = false;
        message = "Please wait";
        try
        {
            // Update room details in model
            model.RoomBookings = roomBookings.Select(rb => new RoomBookingDto
                {
                    RoomType = rb.RoomType,
                    RoomNo = rb.RoomNo,
                    RoomId = rooms.Where(x => x.RoomNumber == rb.RoomNo).Select(x => x.Id).First(),
                    Adults = rb.Adults,
                    Children = rb.Children
                }).ToList();

            // Update customer information in model
            model.CustomerInfo = existingCustomers.Select(ec => new CustomerInfoDto
                {
                    // SL = ec.Id,
                    Name = ec.FirstName,
                    MobileNo = ec.MobileNo,
                    Email = ec.Email
                }).ToList();


            var response = await client.UpsertReservationDetails(model);
            if (response.IsSuccess)
            {
                // model = response.Result;
                //await HallCategoryGrid.RefreshGridAsync();
                alert?.SetSuccess(response.Message);
                model = new();
            }
            else
                alert?.SetError(response.Message);

            message = response.Message;
            model = new ReservationDetailsDto
                {
                    PaymentDetails = new PaymentDetailsDto(),
                    BillingDetails = new BillingDetailsDto(),
                    CustomerInfo = new List<CustomerInfoDto>(),
                    RoomBookings = new List<RoomBookingDto>()
                };
            TaskCompleted = true;
        }
        catch (Exception ex)
        {
            IsError = true;
            message = "Error!";
            MessageBody = ex.Message;
            TaskCompleted = true;
        }

        process = false;
        rooms = await client.GetAllRoom();
        StateHasChanged();
        //_timer = new Timer(TimerCallback, null, _delay, Timeout.Infinite);
    }

    private void TimerCallback(Object o)
    {
        alert?.Clear();
        _timer.Dispose();
        StateHasChanged();
    }

    private void ResetForm()
    {
        model = new ReservationDetailsDto
            {
                PaymentDetails = new PaymentDetailsDto(),
                BillingDetails = new BillingDetailsDto(),
                CustomerInfo = new List<CustomerInfoDto>(),
                RoomBookings = new List<RoomBookingDto>()
            };
        show = false;
        process = false;
    }

    public void OnClose()
    {
        ResetForm();
    }

    private List<RoomBooking> roomBookings = new List<RoomBooking>();

    private void AddRoom()
    {
        roomBookings.Add(new RoomBooking());
    }

    private void DeleteRoom(RoomBooking roomBooking)
    {
        roomBookings.Remove(roomBooking);
    }

    private void OnCustomerChanged(int? newCustomerId)
    {
        selectedCustomerId = newCustomerId;
        var selectedCustomer = customers.FirstOrDefault(c => c.Id == selectedCustomerId);
        if (selectedCustomer != null)
        {
            selectedCustomerName = selectedCustomer.FirstName;
            selectedCustomerIdString = selectedCustomer.Id.ToString();
            canAddCustomer = true;
        }
        else
        {
            selectedCustomerName = string.Empty;
            canAddCustomer = false;
        }
    }

    private async Task AddOldCustomer()
    {
        if (model.CustomerInfo == null)
        {
            model.CustomerInfo = new List<CustomerInfoDto>();
        }

        var selectedCustomer = customers.FirstOrDefault(c => c.Id == selectedCustomerId);
        if (selectedCustomer != null)
        {
            model.CustomerInfo.Add(new CustomerInfoDto
                {
                    SL = model.CustomerInfo.Count + 1,
                    Name = selectedCustomer.FirstName,
                    MobileNo = selectedCustomer.MobileNo,
                    Email = selectedCustomer.Email
                });
            existingCustomers.Add(selectedCustomer);

            // Trigger UI update
            StateHasChanged();
        }
    }

    private void RemoveExistingCustomer(CustomerDetailsDTO customer)
    {
        existingCustomers.Remove(customer);
        StateHasChanged();
    }

    private void AddExistingCustomer(CustomerInfoDto customer)
    {
        model.CustomerInfo.Add(customer);
    }

    private void RemoveCustomer(CustomerInfoDto customer)
    {
        model.CustomerInfo.Remove(customer);
    }

    private void CalculateTotalCharge()
    {
        model.BillingDetails.TotalCharge = model.BillingDetails.BookingCharge +
                                           model.BillingDetails.Tax +
                                           model.BillingDetails.ServiceCharge;
    }

    private void OnBookingChargeChanged(ChangeEventArgs e)
    {
        model.BillingDetails.BookingCharge = Convert.ToDecimal(e.Value);
        CalculateTotalCharge();
    }

    private void OnTaxChanged(ChangeEventArgs e)
    {
        model.BillingDetails.Tax = Convert.ToDecimal(e.Value);
        CalculateTotalCharge();
    }

    private void OnServiceChargeChanged(ChangeEventArgs e)
    {
        model.BillingDetails.ServiceCharge = Convert.ToDecimal(e.Value);
        CalculateTotalCharge();
    }

    private void RoomTypeOnChange(ChangeEventArgs e)
    {
        string selectedValue = e.Value?.ToString();
        rooms = rooms.Where(o => o.Category == selectedValue);
        StateHasChanged();
    }
}
